/* 主色调 用在所用希望用户点击的地方 */

$c_main: #e55e60;

/* 背景色 */

$c_f7: #f7f7f7;

/* 用于不可使用状态的点击区域 */

$bg_c7: #c7c7c7;

/* 字体主色调 */

$font_c_main: #333;

/* nav及tab中的Icon用色 */

$c_45: #454545;

/* 用于提示&未输入等辅助内容文字色 */

$c_91: #919191;

/* 白色字体 */

$c_fff: #fff;

/* tab颜色 */

$c_c8: #c8c8c8;

/* 金色 */

$c_golden: #EFA80F;

/* 分割线 */

$c_ea: #eaeaea;

/* 用于nav标题  最大的字号 */

$font_s_20: .20rem;

/* 用于btn中大按钮的文字*/


/* 用于nav右侧操作（如编辑、完成） 及大部分内容字体*/

$font_s_15: .15rem;

/* 用于btn中等及个人中心按钮的文字*/

$font_s_14: .14rem;

/* 用于大部分页面内容辅助信息 */

$font_s_12: .12rem;

/* 用于最小的btn及tag中的文字 */

$font_s_11: .11rem;

/* 各字体和颜色请酌情使用，也可不使用类名直接使用颜色，但是一定要用规范的颜色和字体大小 */

$btn_color:#e72e35;

/*header高度*/

$header_h:46px;

$maxW: 1024px;

$minW: 768px;

/* 各字体和颜色请酌情使用，也可不使用类名直接使用颜色，但是一定要用规范的颜色和字体大小 */